<div class="comments">
    {{#each this}}
    <article class="card m-4">
        <div class="card-content">
            <p class="has-text-left"><b>{{user.username}}</b> on <i>{{created_at}}</i></p>
            <br>
            <p class="has-text-justified is-size-5">{{comment_text}}</p>
        </div>
    </article>
    {{/each}}
</div>