<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <!-- link to bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- link to our stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- NAVIGATION -->
        <header>
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <h1 class="is-size-4">Tech Blog</h1>
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">
                            Home
                        </a>
                        <a class="navbar-item">
                            Dashboard
                        </a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                                <strong>Log in</strong>
                            </a>
                            <a class="button is-primary">
                                <strong>Log out</strong>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>    
            </nav>
        </header>
        <!-- MAIN BODY -->
        <main class="block m-3">
            {{{ body }}}
        </main>
        <!-- FOOTER -->
        <footer class="footer">
            &copy; Hailey Thomas | <a href="" target="blank">View on GitHub</a>
        </footer>
    </div>
</body>
</html>