{{> post-info post }}
{{#if loggedIn}}
<article class="card m-4">
    <div class="card-header has-background-primary">
        <p class="card-header-title has-text-light is-size-5">
            Add a Comment:
        </p>
    </div>
    <div class="card-content">
        <form class="comment-form">
            <div class="field">
                <textarea class="textarea" name="comment-body"></textarea>
            </div>
            <div class="field">
                <button class="button is-primary" type="submit">Add Comment</button>
            </div>
        </form>
    </div>
</article>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}